body {
    background-image: url('background-pic.jpg');
    background-size: 1400px;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    /* Darker teal background for the header */
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #000;
  }
  
  .navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #007567;
    color: #000;
    border-radius: 5px;
  }
  
  
  .logo img {
    width: 90px;
    border-radius: 50%;
  }
  
  .logo h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  .hero {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .hero-text h2 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
  }
  
  .hero-text a {
    background-color: #009688;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .hero-text a:hover {
    background-color: #007567;
    color: #fff;
  }
  
  .services {
    background-color: #f5f5f5;
    /* Light gray background */
    padding: 20px 0;
    text-align: center;
  }
  
  .services h3 {
    font-size: 24px;
    color: #333;
    /* Dark gray text color */
    margin-bottom: 20px;
  }
  
  .services ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .services li {
    margin: 5px;
    font-size: 18px;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #009688;
    /* Teal background color */
    transition: background-color 0.3s;
  }
  
  .services li:hover {
    background-color: #007567;
    /* Darker teal on hover */
    color: #fff;
    /* White text on hover */
  }
  
  
  .about-us {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  
  .about-us h3 {
    font-size: 24px;
  }
  
  .about-us p {
    font-size: 18px;
  }
  
  .contact {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .contact h3 {
    font-size: 24px;
  }
  
  .contact form {
    margin: 20px 0;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact button[type="submit"] {
    background-color: #009688;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .contact button[type="submit"]:hover {
    background-color: #007567;
    color: #fff;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-media li {
    margin: 0 10px;
  }
  
  .social-media li a {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media li a:hover {
    color: #009688;
  }